<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Best Store</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="container py-5">
  <div class="rounded border p-4">
    <h2 class="text-center mb-4">Profile</h2>
    <hr>

    <div class="row mb-2">
      <div class="col">First Name</div>
      <div class="col" th:text="${user.firstName}"></div>
    </div>
    <div class="row mb-2">
      <div class="col">Last Name</div>
      <div class="col" th:text="${user.lastName}"></div>
    </div>
    <div class="row mb-2">
      <div class="col">Email</div>
      <div class="col" th:text="${user.email}"></div>
    </div>
    <div class="row mb-2">
      <div class="col">Phone</div>
      <div class="col" th:text="${user.phoneNumber}"></div>
    </div>
    <div class="row mb-2">
      <div class="col">Address</div>
      <div class="col" th:text="${user.address}"></div>
    </div>
    <div class="row mb-2">
      <div class="col">Created At</div>
      <div class="col" th:text="${user.dateOfRegistration}"></div>
    </div>

    <hr>
    <a href="/" class="btn btn-link">Home</a>
    <a href="/editProfile" class="btn btn-link">Edit Profile</a>
    <a href="/changePassword" class="btn btn-link">Change Password</a>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
