<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iTravel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script language="javascript" type="text/javascript">
    $(document).ready( function () {
      $('#dataTable').DataTable();
    } );
  </script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container">
    <a class="navbar-brand" href="/">iTravel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/editProfile">Profile</a>
        </li>
      </ul>


      <ul class="navbar-nav me-3" sec:authorize="hasRole('ADMIN')">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/create-trip">New Trip</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav me-3" sec:authorize="hasRole('USER')">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reservations
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/reservations">Past Reservations</a></li>
            <li><a class="dropdown-item" href="/currentReservations">Current Reservations</a></li>
          </ul>
        </li>
      </ul>

      <form sec:authorize="isAuthenticated()" method="post" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />

        <button type="submit" class="btn btn-danger">
          Logout
        </button>
      </form>

      <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
        <li class="nav-item">
          <a href="/register" class="btn btn-outline-primary me-2">Register</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="btn btn-primary">Login</a>
        </li>
      </ul>

    </div>
  </div>
</nav>


<div class="container py-5">
  <h1 class="text-center">iTravel!</h1>

</div>

<div class="container">
  <table class="table table-striped" id="dataTable" data-page-length='50' data-order='[[1, "desc"]]'>
    <thead>
    <tr>
      <th>User id</th>
      <th>Trip id</th>
      <th>Created at</th>
      <th>Number of People</th>
      <th>Total Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservation}">
      <td th:text="${reservation.userId}"></td>
      <td th:text="${reservation.tripId}"></td>
      <td th:text="${reservation.dateOfReservation}"></td>
      <td th:text="${reservation.numberOfPeople}"></td>
      <td th:text="@{${reservation.totalPrice} + '$'}"></td>
      <td style="white-space:nowrap" sec:authorize="hasRole('USER')">
        <a class="btn btn-danger btn-sm"
           th:href="@{/deleteReservation(id=${reservation.id})}"
           onclick="return confirm('Are you sure?')">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>
</body>
</html>
